# Manejo de datos con pandas

In [1]:
# Libraries

import pandas as pd
import os

## Introduccion

In [2]:
# importar datos

path = os.path.join(os.getcwd(), "inah_visitantes_2022.csv")
inah_visitantes2022 = pd.read_csv(path, thousands=',')

In [3]:
# ver solo las primeras n filas

inah_visitantes2022.head(5)

,Estado,Clave_SIINAH,Tipo,Centro_INAH,enero_nac,enero_ext,febrero_nac,febrero_ext,marzo_nac,marzo_ext
0,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,496,23,183,10,943,41
1,Baja California,2400100.0,M.- M.H,"Museo Histórico Regional, Ex Cuartel de la Com...",0,0,0,0,0,0
2,Baja California,3120040.0,Z.A.,Z.A. de El Vallecito,1323,7,1148,12,1074,25
3,Baja California Sur,2300200.0,M.- M.H,Museo Regional de Antropología e Historia de B...,299,226,384,341,497,367
4,Baja California Sur,2400200.0,M.- M.H,Museo de Las Misiones Jesuíticas,239,70,552,131,744,249

In [29]:
inah_visitantes2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Estado        277 non-null    object
 1   Clave_SIINAH  273 non-null    float64
 2   Tipo          277 non-null    object
 3   Centro_INAH   277 non-null    object
 4   enero_nac     277 non-null    int64
 5   enero_ext     277 non-null    int64
 6   febrero_nac   277 non-null    int64
 7   febrero_ext   277 non-null    int64
 8   marzo_nac     277 non-null    int64
 9   marzo_ext     277 non-null    int64
dtypes: float64(1), int64(6), object(3)
memory usage: 21.8+ KB

## Dimensiones y columnas

In [4]:
# Dimensiones
inah_visitantes2022.shape

(277, 10)

In [5]:
# Columnas
inah_visitantes2022.columns

Index(['Estado', 'Clave_SIINAH', 'Tipo', 'Centro_INAH', 'enero_nac',
       'enero_ext', 'febrero_nac', 'febrero_ext', 'marzo_nac', 'marzo_ext'],
      dtype='object')

## Ordenar datos

In [6]:
# Ordenar por una sola columna, "enero_nac". ascending = True por defecto
inah_visitantes2022.sort_values(by=['enero_nac'])

,Estado,Clave_SIINAH,Tipo,Centro_INAH,enero_nac,enero_ext,febrero_nac,febrero_ext,marzo_nac,marzo_ext
276,Zacatecas,NaN,Z.A.,Z.A. Cerro de las Ventanas,0,0,0,0,0,0
212,San Luis Potosí,2301600.0,M.- M.H,Museo Regional Potosino,0,0,0,0,0,0
216,Sinaloa,322033.0,Z.A.,Las Labradas,0,0,0,0,5254,70
217,Sonora,2301700.0,M.- M.H,Museo Regional de Sonora,0,0,0,0,0,0
110,Guerrero,3120062.0,Z.A.,Z.A. de La Sabana,0,0,5,0,16,0
...,...,...,...,...,...,...,...,...,...,...
49,Ciudad de México,2100200.0,M.- M.H,Museo Nacional de Historia,39219,10961,33484,5614,50784,6457
48,Ciudad de México,2100100.0,M.- M.H,Museo Nacional de Antropología,42359,14177,55613,18119,81161,27961
208,Quintana Roo,3110037.0,Z.A.,Z.A. de Tulum,48617,65570,51121,61679,26557,49320
85,Estado de México,3110031.0,Z.A.,Z. A. Teotihuacan (con Museo de Sitio),84892,39520,82875,37214,170541,43137
259,Yucatán,3110008.0,Z.A.,Z.A. de Chichén Itzá,113253,118215,92936,134770,131905,99086

In [7]:
# Ordenar por "enero_nac" y "febrero_nac" en orden descendente
inah_visitantes2022.sort_values(by=['enero_nac', 'febrero_nac'], ascending = False)

,Estado,Clave_SIINAH,Tipo,Centro_INAH,enero_nac,enero_ext,febrero_nac,febrero_ext,marzo_nac,marzo_ext
259,Yucatán,3110008.0,Z.A.,Z.A. de Chichén Itzá,113253,118215,92936,134770,131905,99086
85,Estado de México,3110031.0,Z.A.,Z. A. Teotihuacan (con Museo de Sitio),84892,39520,82875,37214,170541,43137
208,Quintana Roo,3110037.0,Z.A.,Z.A. de Tulum,48617,65570,51121,61679,26557,49320
48,Ciudad de México,2100100.0,M.- M.H,Museo Nacional de Antropología,42359,14177,55613,18119,81161,27961
49,Ciudad de México,2100200.0,M.- M.H,Museo Nacional de Historia,39219,10961,33484,5614,50784,6457
...,...,...,...,...,...,...,...,...,...,...
264,Yucatán,3120071.0,Z.A.,Z.A. de Loltún,0,0,0,0,0,0
266,Yucatán,3120097.0,Z.A.,Z.A. de Sayil,0,0,0,0,0,0
268,Yucatán,3120126.0,Z.A.,Z.A. de Xlapak,0,0,0,0,0,0
269,Yucatán,3120083.0,Z.A.,Z.A. de Oxkintok,0,0,0,0,0,0
276,Zacatecas,NaN,Z.A.,Z.A. Cerro de las Ventanas,0,0,0,0,0,0

## Estadistica descriptiva

In [8]:
# Para todo el DataFrame, muestra las medidas descriptivas para valores numericos

inah_visitantes2022.describe()

,Clave_SIINAH,enero_nac,enero_ext,febrero_nac,febrero_ext,marzo_nac,marzo_ext
count,2.730000e+02,277.000000,277.000000,277.000000,277.000000,277.000000,277.000000
mean,2.959039e+06,2189.050542,1189.368231,1943.144404,1260.942238,3338.039711,1199.314079
std,4.882852e+05,9937.049868,8561.811902,9033.351690,9312.708166,14555.239144,7442.930660
min,3.220330e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.404200e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.120010e+06,147.000000,0.000000,142.000000,2.000000,358.000000,6.000000
75%,3.120091e+06,929.000000,45.000000,703.000000,56.000000,1517.000000,69.000000
max,4.100017e+06,113253.000000,118215.000000,92936.000000,134770.000000,170541.000000,99086.000000

In [9]:
# Medidas descriptivas para una serie con valores no numericos

inah_visitantes2022["Estado"].describe()

count                  277
unique                  32
top       Estado de México
freq                    26
Name: Estado, dtype: object

## Series

In [10]:
# Una serie con los datos de los centros INAH.

centros_inah = inah_visitantes2022["Centro_INAH"]
centros_inah

0           Museo Regional de Historia de Aguascalientes
1      Museo Histórico Regional, Ex Cuartel de la Com...
2                                   Z.A. de El Vallecito
3      Museo Regional de Antropología e Historia de B...
4                       Museo de Las Misiones Jesuíticas
                             ...
272                                   Museo de Guadalupe
273    Z.A. de Altavista o Chalchihuites con museo de...
274                Z.A. de La Quemada con museo de sitio
275                                  Z.A. Cerro del Teúl
276                           Z.A. Cerro de las Ventanas
Name: Centro_INAH, Length: 277, dtype: object

In [11]:
# Series pueden ser convertidas a listas
enero_nac = inah_visitantes2022["enero_nac"].to_list()

In [12]:
# Un dataframe mas pequeno solo con datos nacionales

inah_visitantes_nac = inah_visitantes2022[["Centro_INAH", "enero_nac", "febrero_nac", "marzo_nac"]]

# Mostrar 5 primeras filas
inah_visitantes_nac.head(5)

,Centro_INAH,enero_nac,febrero_nac,marzo_nac
0,Museo Regional de Historia de Aguascalientes,496,183,943
1,"Museo Histórico Regional, Ex Cuartel de la Com...",0,0,0
2,Z.A. de El Vallecito,1323,1148,1074
3,Museo Regional de Antropología e Historia de B...,299,384,497
4,Museo de Las Misiones Jesuíticas,239,552,744

### Condicionales

#### Una condicion

In [13]:
# Mostrar datos solo para el estado Guerrero

inah_visitantes2022[inah_visitantes2022["Estado"] == "Guerrero"]

,Estado,Clave_SIINAH,Tipo,Centro_INAH,enero_nac,enero_ext,febrero_nac,febrero_ext,marzo_nac,marzo_ext
104,Guerrero,2300700.0,M.- M.H,Museo Regional de Guerrero,1786,6,1460,4,2449,6
105,Guerrero,2401700.0,M.- M.H,Museo Guillermo Spratling,17,0,23,1,78,0
106,Guerrero,2401800.0,M.- M.H,"Museo Histórico de Acapulco, Fuerte de San Diego",0,0,0,0,0,0
107,Guerrero,3120046.0,Z.A.,Z.A. de Huamuxtitlán,0,0,0,0,85,0
108,Guerrero,3120053.0,Z.A.,Z.A. de Ixcateopan,51,1,671,2,299,2
109,Guerrero,3110021.0,Z.A.,Z.A. de La Organera Xochipala,64,0,50,0,1226,0
110,Guerrero,3120062.0,Z.A.,Z.A. de La Sabana,0,0,5,0,16,0
111,Guerrero,3120026.0,Z.A.,Z.A. de Cuetlajuchitlán (Los Querende),25,0,16,0,17,0
112,Guerrero,3110027.0,Z.A.,Z.A. de Palma Sola,129,0,79,2,64,4
113,Guerrero,3120106.0,Z.A.,Z.A. de Teopantecuanitlán,53,0,40,0,78,0
114,Guerrero,3220027.0,Z.A.,Z.A. de Tehuacalco,469,18,345,22,1128,18
115,Guerrero,3120132.0,Z.A.,Z. A. Soledad de Maciel,310,210,196,284,363,289

In [14]:
# Mostrar centros con mas de 1000 visitantes nacionales en enero

inah_visitantes2022[inah_visitantes2022["enero_nac"] >= 10000]

,Estado,Clave_SIINAH,Tipo,Centro_INAH,enero_nac,enero_ext,febrero_nac,febrero_ext,marzo_nac,marzo_ext
35,Chiapas,3110026.0,Z.A.,"Z.A. de Palenque con museo ""Alberto Ruz L´Huil...",31865,5133,13283,6219,18844,6183
48,Ciudad de México,2100100.0,M.- M.H,Museo Nacional de Antropología,42359,14177,55613,18119,81161,27961
49,Ciudad de México,2100200.0,M.- M.H,Museo Nacional de Historia,39219,10961,33484,5614,50784,6457
55,Ciudad de México,2500500.0,M.- M.H,Museo del Templo Mayor,10815,3595,11114,4783,27487,10253
81,Estado de México,3120075.0,Z.A.,Z.A. de Malinalco,13097,222,8092,184,14685,208
85,Estado de México,3110031.0,Z.A.,Z. A. Teotihuacan (con Museo de Sitio),84892,39520,82875,37214,170541,43137
169,Oaxaca,3110025.0,Z.A.,Z.A. de Monte Albán con museo de sitio,27450,4787,14282,5020,23810,5400
208,Quintana Roo,3110037.0,Z.A.,Z.A. de Tulum,48617,65570,51121,61679,26557,49320
259,Yucatán,3110008.0,Z.A.,Z.A. de Chichén Itzá,113253,118215,92936,134770,131905,99086
267,Yucatán,3120122.0,Z.A.,Z.A. de Uxmal con museo de sitio,14301,7881,10557,8050,12424,7413

#### Multiples condiciones

In [15]:
# Mostrar los centros con mas de 1000 visitantes nacionales en Guerrero
inah_visitantes2022[(inah_visitantes2022["Estado"] == "Guerrero") & (inah_visitantes2022["enero_nac"] > 1000)]

,Estado,Clave_SIINAH,Tipo,Centro_INAH,enero_nac,enero_ext,febrero_nac,febrero_ext,marzo_nac,marzo_ext
104,Guerrero,2300700.0,M.- M.H,Museo Regional de Guerrero,1786,6,1460,4,2449,6

In [16]:
# Mostrar los centros con mas de 1000 visitantes nacionales en Guerrero y Quintana Roo
inah_visitantes2022[(inah_visitantes2022["Estado"].isin(["Guerrero", "Quintana Roo"])) | (inah_visitantes2022["marzo_nac"] > 1000)]

,Estado,Clave_SIINAH,Tipo,Centro_INAH,enero_nac,enero_ext,febrero_nac,febrero_ext,marzo_nac,marzo_ext
2,Baja California,3120040.0,Z.A.,Z.A. de El Vallecito,1323,7,1148,12,1074,25
9,Campeche,2400400.0,M.- M.H,Museo de Arqueología Maya Fuerte de San Miguel,4022,494,2681,505,3241,520
11,Campeche,2400700.0,M.- M.H,Museo de Arqueología Subacuática Fuerte de San...,2535,182,1688,161,1938,174
14,Campeche,3120008.0,Z.A.,Z.A. de Calakmul,2163,3061,1293,3361,1517,2935
18,Campeche,3110012.0,Z.A.,Z.A. de Edzná,3527,1121,2628,901,2837,919
...,...,...,...,...,...,...,...,...,...,...
270,Yucatán,3120056.0,Z.A.,Z.A. de Izamal,1639,776,1205,487,1975,385
271,Yucatán,3120135.0,Z.A.,Z.A. de Xcambó,1711,884,1418,1004,1703,1421
272,Zacatecas,2302000.0,M.- M.H,Museo de Guadalupe,1323,13,802,22,1464,22
273,Zacatecas,3120003.0,Z.A.,Z.A. de Altavista o Chalchihuites con museo de...,207,8,158,2,1254,4
274,Zacatecas,3110022.0,Z.A.,Z.A. de La Quemada con museo de sitio,1104,12,981,2,2042,51

In [17]:
# ahora con query

inah_visitantes2022.query('Estado == "Guerrero" & enero_nac >= 1000')

,Estado,Clave_SIINAH,Tipo,Centro_INAH,enero_nac,enero_ext,febrero_nac,febrero_ext,marzo_nac,marzo_ext
104,Guerrero,2300700.0,M.- M.H,Museo Regional de Guerrero,1786,6,1460,4,2449,6

### Vistas por label o con condiciones, .loc

In [18]:
# loc. Vistas por condiciones. Tambien se pueden definir cuantas columnas mostrar
inah_visitantes2022.loc[inah_visitantes2022["Estado"] == "Guerrero", ["enero_nac", "febrero_nac"]]

     enero_nac  febrero_nac
104       1786         1460
105         17           23
106          0            0
107          0            0
108         51          671
109         64           50
110          0            5
111         25           16
112        129           79
113         53           40
114        469          345
115        310          196

In [19]:
# loc. Vistas por label

df_label = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])

df_label

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [20]:
# loc, vistas por label

df_label.loc["cobra"]

max_speed    1
shield       2
Name: cobra, dtype: int64

#### Vistas por indices, .iloc

In [21]:
# Primera fila, una serie en este caso
inah_visitantes2022.iloc[0]

Estado                                        Aguascalientes
Clave_SIINAH                                       2300100.0
Tipo                                                 M.- M.H
Centro_INAH     Museo Regional de Historia de Aguascalientes
enero_nac                                                496
enero_ext                                                 23
febrero_nac                                              183
febrero_ext                                               10
marzo_nac                                                943
marzo_ext                                                 41
Name: 0, dtype: object

In [22]:
# Primera fila, un DataFrame en este caso
inah_visitantes2022.iloc[[0]]

,Estado,Clave_SIINAH,Tipo,Centro_INAH,enero_nac,enero_ext,febrero_nac,febrero_ext,marzo_nac,marzo_ext
0,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,496,23,183,10,943,41

In [23]:
# Mas de una fila, en distinto orden

inah_visitantes2022.iloc[[7, 2, 0]]

,Estado,Clave_SIINAH,Tipo,Centro_INAH,enero_nac,enero_ext,febrero_nac,febrero_ext,marzo_nac,marzo_ext
7,Baja California Sur,3120007.0,Z.A.,Z.A. de San Francisco de la Sierra,0,0,275,47,22,0
2,Baja California,3120040.0,Z.A.,Z.A. de El Vallecito,1323,7,1148,12,1074,25
0,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,496,23,183,10,943,41

In [24]:
# Celda ubicada en la fila 0, columna 3

inah_visitantes2022.iloc[0,3]

'Museo Regional de Historia de Aguascalientes'

In [25]:
# Mostrar las filas 0, 1 y 2, sin contar la fila 3
inah_visitantes2022.iloc[0:3]

,Estado,Clave_SIINAH,Tipo,Centro_INAH,enero_nac,enero_ext,febrero_nac,febrero_ext,marzo_nac,marzo_ext
0,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,496,23,183,10,943,41
1,Baja California,2400100.0,M.- M.H,"Museo Histórico Regional, Ex Cuartel de la Com...",0,0,0,0,0,0
2,Baja California,3120040.0,Z.A.,Z.A. de El Vallecito,1323,7,1148,12,1074,25

In [26]:
# Mostrar las primeras (0:2) filas, solo las primeras 3 columnas (0:3)
inah_visitantes2022.iloc[0:2,0:3]

            Estado  Clave_SIINAH     Tipo
0   Aguascalientes     2300100.0  M.- M.H
1  Baja California     2400100.0  M.- M.H

## Agrupacion de datos

In [27]:
# Agrupar datos por estado, sumar visitantes

inah_visitantes2022.groupby(by = "Estado").sum()

,Clave_SIINAH,enero_nac,enero_ext,febrero_nac,febrero_ext,marzo_nac,marzo_ext
Estado,,,,,,,
Aguascalientes,2300100.0,496,23,183,10,943,41
Baja California,5520140.0,1323,7,1148,12,1074,25
Baja California Sur,14320723.0,1799,864,2411,1608,2255,1626
Campeche,59472913.0,16459,7175,10971,7352,13287,7025
Chiapas,40853615.0,44898,7543,20905,8843,31038,9296
Chihuahua,17981242.0,1335,82,1774,22,4943,281
Ciudad de México,29962158.0,110021,30135,118023,29618,195768,45786
Coahuila,2300300.0,0,0,717,2,3196,0
Colima,8540494.0,803,10,1593,28,1825,22
Durango,3110020.0,311,14,231,2,702,5
Estado de México,80813852.0,100098,39772,94653,37880,217114,44121
Guanajuato,31286567.0,15120,1498,14183,1703,18250,2298
Guerrero,35264700.0,2904,235,2885,315,5803,319
Hidalgo,23776338.0,14876,446,12266,344,42084,635
Jalisco,15747867.0,3614,492,12932,895,17024,911
Michoacán,32526959.0,3441,69,3482,171,10980,250
Morelos,31617199.0,11028,490,8155,476,13958,665
Nayarit,7824055.0,564,19,619,44,1264,93
Nuevo León,5411203.0,179,18,743,13,2817,34
Oaxaca,58085368.0,31187,5381,17695,5556,28060,6103
Puebla,63424954.0,6265,196,6003,551,25664,1919
Querétaro,14851598.0,7337,1156,6938,583,15220,756
Quintana Roo,39794008.0,63842,88081,63700,94186,39693,85496
San Luis Potosí,8541799.0,704,42,271,18,1141,38
Sinaloa,2725633.0,345,72,225,65,5692,159
Sonora,5511832.0,65,0,52,6,205,0
Tabasco,21214014.0,5077,145,3145,102,8218,78
Tamaulipas,11763912.0,89,0,100,3,349,6
Tlaxcala,17872124.0,4562,83,4743,134,16689,188
Veracruz,49132791.0,5350,177,8704,318,34193,388
Yucatán,57737185.0,149561,145194,116684,158395,159711,123561
Zacatecas,8532025.0,2714,36,2117,26,5477,85

## Melt

In [28]:
pd.melt(inah_visitantes2022)

       variable                value
0        Estado       Aguascalientes
1        Estado      Baja California
2        Estado      Baja California
3        Estado  Baja California Sur
4        Estado  Baja California Sur
...         ...                  ...
2765  marzo_ext                   22
2766  marzo_ext                    4
2767  marzo_ext                   51
2768  marzo_ext                    8
2769  marzo_ext                    0

[2770 rows x 2 columns]